#map {
  height: 90%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-img {
  width: 100%;
}

#wiki-content {
  background: silver;
}

#wiki-dialog {
  width: 75%;
}

.btn-secondary {
  background: white;
  font-size: 35px;
}

.title-bar {
  display: flex;
  align-items: center;
}

.list-item {
  font-size: 22px;
  cursor: pointer;
}
